.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 15px;
}

td {
    padding: 4rem;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 22px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

button {
    padding: 15px 20px;
    background-color: rgb(54, 143, 19);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border-color: azure;
}

button:hover {
    background-color: rgb(10, 124, 19);
    color: rgb(208, 255, 0);
}

button:disabled {
    background-color: gray;
    color: black;
    cursor: not-allowed;
}

#payout {
    margin-top: 12px;
    padding: 20px;
    font-weight: 600;
}